.btn-cyan {
  color: #fff;
  background-color: #2acfcf;
  padding: 1rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
}

.btn-cyan:hover {
  -webkit-filter: saturate(50%) brightness(120%);
          filter: saturate(50%) brightness(120%);
}

.heading-2 {
  font-size: 4rem;
}

.link-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.6rem;
}

.link-item {
  font-size: 1.6rem;
  font-weight: 300;
  color: #bfbfbf;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.link-item:hover {
  color: #2acfcf;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.7;
}

.nav {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 13rem;
  padding-bottom: 8rem;
}

.nav__logo {
  margin-right: 4rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-right: auto;
}

.nav__link {
  cursor: pointer;
}

.nav__link:not(:last-child) {
  margin-right: 3.5rem;
}

.nav__link a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #9e9aa7;
}

.nav__link a:hover {
  color: #232127;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
  -ms-grid-columns: 13rem (minmax(min-content, 47%))[2] 1fr;
      grid-template-columns: 13rem repeat(2, minmax(-webkit-min-content, 47%)) 1fr;
      grid-template-columns: 13rem repeat(2, minmax(min-content, 47%)) 1fr;
  -ms-grid-rows: 23rem 12rem 1fr;
      grid-template-rows: 23rem 12rem 1fr;
  padding-bottom: 16rem;
}

.header__tagline, .header__text, .header__button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.header__tagline {
  font-size: 7.2rem;
  color: #35323e;
  font-weight: 700;
  line-height: 1.15;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.header__text {
  font-size: 2.1rem;
  font-weight: 500;
  color: #9e9aa7;
  max-width: 90%;
}

.header__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.header__illustration {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
}

.app {
  width: 100%;
  min-height: 20rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #eff0f5;
}

.statistics {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff0f5;
  padding-block: 2rem;
  padding-bottom: 5rem;
}

.statistics__title {
  padding-inline: 3rem;
}

.statistics__text {
  font-size: 1.8rem;
  width: 37%;
  color: #9e9aa7;
  margin-bottom: 3rem;
}

.boost {
  background-color: #3b3054;
  background-image: url(../images/bg-boost-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.4rem 1rem;
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boost__heading {
  color: #fff;
  margin-bottom: 1.8rem;
}

.boost__btn {
  font-size: 2rem;
  padding: 1.3rem 4.5rem;
}

.footer {
  background-color: #232127;
  padding-block: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 30vw (calc((100vw - (20rem + 30vw + (3rem * 6))) / 4))[4] 10rem;
      grid-template-columns: 10rem 30vw repeat(4, calc((100vw - (20rem + 30vw + (3rem * 6))) / 4)) 10rem;
  grid-gap: 3rem;
}

.footer ul {
  list-style: none;
}

.footer__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__icon {
  cursor: pointer;
  font-size: 2.4rem;
  color: #fff;
}

.footer__icon:hover {
  color: #2acfcf;
}

button {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav__right--login {
  font-size: 1.8rem;
  color: #9e9aa7;
  background-color: transparent;
  padding: 0.5rem 2.5rem;
}

.nav__right--login:hover {
  color: #232127;
  cursor: pointer;
}

.nav__right--signup {
  font-size: 1.8rem;
}

.header__button {
  font-size: 2rem;
  padding: 1.5rem 4.5rem;
}

.link-shorten {
  margin: 0 13rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-block: 5rem;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-color: #3b3054;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-shorten__field {
  width: 65%;
  padding: 1.8rem 3.5rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  color: #35323e;
  margin-right: 2.5rem;
}

.link-shorten__field::-webkit-input-placeholder {
  color: #9e9aa7;
}

.link-shorten__field:-ms-input-placeholder {
  color: #9e9aa7;
}

.link-shorten__field::-ms-input-placeholder {
  color: #9e9aa7;
}

.link-shorten__field::placeholder {
  color: #9e9aa7;
}

.link-shorten__btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-size: 2.1rem;
  border-radius: 1.2rem;
  padding-inline: 3.5rem;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10.5rem (min-content)[3] 10.5rem;
      grid-template-columns: 10.5rem repeat(3, -webkit-min-content) 10.5rem;
      grid-template-columns: 10.5rem repeat(3, min-content) 10.5rem;
  grid-column-gap: 3rem;
  width: 100%;
  margin-block: 8rem;
  position: relative;
}

.cards::before {
  content: "";
  width: 100%;
  height: 1rem;
  background-color: #2acfcf;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  position: absolute;
  top: 42%;
}

.card {
  background-color: #fff;
  width: calc((100vw - ((10.5rem * 2) + (3rem * 4))) / 3);
  padding: 4rem 3.2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-top: 0;
  text-align: left;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card--1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.card--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  margin-top: 4rem;
}

.card--3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  margin-top: 8rem;
}

.card__logo {
  background-color: #232127;
  background-size: contain;
  padding: 2rem;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #232127;
  padding: 7rem 0;
  padding-bottom: 1rem;
}

.card__text {
  font-size: 1.6rem;
  color: #9e9aa7;
}
/*# sourceMappingURL=main.css.map */