.btn-cyan {
  color: #fff;
  background-color: #2acfcf;
  padding: 1rem 3rem;
  border-radius: 5rem;
  cursor: pointer;
}

.btn-cyan:hover {
  -webkit-filter: saturate(50%) brightness(120%);
          filter: saturate(50%) brightness(120%);
}

.btn-violet {
  background-color: #3b3054;
}

.heading-2 {
  font-size: 4rem;
}

.heading-3 {
  font-weight: 500;
}

.link-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.6rem;
}

.link-item {
  font-size: 1.6rem;
  font-weight: 300;
  color: #bfbfbf;
  cursor: pointer;
  margin-bottom: 0.6rem;
}

.link-item:hover {
  color: #2acfcf;
}

.negative-margin {
  margin-top: -6rem;
}

.hidden {
  display: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.7;
}

.nav {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 13rem;
  padding-bottom: 8rem;
}

@media only screen and (max-width: 79em) {
  .nav {
    padding-inline: 6rem;
  }
}

@media only screen and (max-width: 53.19em) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav__logo {
  margin-right: 4rem;
}

@media only screen and (max-width: 53.19em) {
  .nav__logo {
    width: 20rem;
  }
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-right: auto;
}

.nav__link {
  cursor: pointer;
}

.nav__link:not(:last-child) {
  margin-right: 3.5rem;
}

@media only screen and (max-width: 79em) {
  .nav__link:not(:last-child) {
    margin-right: 1rem;
  }
}

.nav__link a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #9e9aa7;
}

.nav__link a:hover {
  color: #232127;
}

.nav__right--checkbox {
  display: none;
}

.nav__right--hamburger {
  display: none;
}

@media only screen and (max-width: 53.19em) {
  .nav__right--hamburger {
    display: block;
    width: 4rem;
    height: 0.5rem;
    background-color: #9e9aa7;
    position: relative;
    cursor: pointer;
  }
  .nav__right--hamburger::before, .nav__right--hamburger::after {
    position: absolute;
    content: "";
    width: 4rem;
    height: 0.5rem;
    background-color: #9e9aa7;
  }
  .nav__right--hamburger::before {
    -webkit-transform: translateY(-1.4rem);
            transform: translateY(-1.4rem);
  }
  .nav__right--hamburger::after {
    -webkit-transform: translateY(1.4rem);
            transform: translateY(1.4rem);
  }
}

@media only screen and (max-width: 53.19em) {
  .nav__right--login, .nav__right--signup, .nav__links {
    display: none;
  }
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: start;
  -ms-grid-columns: 13rem (minmax(min-content, 47%))[2] 1fr;
      grid-template-columns: 13rem repeat(2, minmax(-webkit-min-content, 47%)) 1fr;
      grid-template-columns: 13rem repeat(2, minmax(min-content, 47%)) 1fr;
  -ms-grid-rows: 23rem 12rem 1fr;
      grid-template-rows: 23rem 12rem 1fr;
  padding-bottom: 16rem;
}

@media only screen and (max-width: 79em) {
  .header {
    -ms-grid-columns: 6rem (minmax(min-content, 42%))[2] 1fr;
        grid-template-columns: 6rem repeat(2, minmax(-webkit-min-content, 42%)) 1fr;
        grid-template-columns: 6rem repeat(2, minmax(min-content, 42%)) 1fr;
  }
}

@media only screen and (max-width: 53.19em) {
  .header {
    -ms-grid-columns: 6rem minmax(min-content) 6rem;
        grid-template-columns: 6rem minmax(-webkit-min-content) 6rem;
        grid-template-columns: 6rem minmax(min-content) 6rem;
    justify-items: center;
    text-align: center;
    grid-row-gap: 1rem;
  }
}

.header__tagline, .header__text, .header__button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

@media only screen and (max-width: 53.19em) {
  .header__tagline, .header__text, .header__button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
}

.header__tagline {
  font-size: 7.2rem;
  color: #35323e;
  font-weight: 700;
  line-height: 1.15;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 79em) {
  .header__tagline {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 53.19em) {
  .header__tagline {
    font-size: 8rem;
    width: 70%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: initial;
  }
}

.header__text {
  font-size: 2.1rem;
  font-weight: 500;
  color: #9e9aa7;
  max-width: 90%;
}

@media only screen and (max-width: 53.19em) {
  .header__text {
    font-size: 2.8rem;
    max-width: 100%;
  }
}

.header__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media only screen and (max-width: 53.19em) {
  .header__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 3rem;
  }
}

.header__illustration {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
}

.app {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #eff0f5;
  padding-bottom: 6rem;
  position: relative;
}

.statistics {
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eff0f5;
  padding-block: 2rem;
  padding-bottom: 5rem;
}

.statistics__title {
  padding-inline: 3rem;
}

.statistics__text {
  font-size: 1.8rem;
  width: 37%;
  color: #9e9aa7;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 62.94em) {
  .statistics__text {
    font-size: 2.1rem;
    width: 60%;
  }
}

.boost {
  background-color: #3b3054;
  background-image: url(../images/bg-boost-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.4rem 1rem;
  margin-bottom: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boost__heading {
  color: #fff;
  margin-bottom: 1.8rem;
}

.boost__btn {
  font-size: 2rem;
  padding: 1.3rem 4.5rem;
}

.footer {
  background-color: #232127;
  padding-block: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10rem 30vw (calc((100vw - (20rem + 30vw + (3rem * 6))) / 4))[4] 10rem;
      grid-template-columns: 10rem 30vw repeat(4, calc((100vw - (20rem + 30vw + (3rem * 6))) / 4)) 10rem;
  grid-gap: 3rem;
}

@media only screen and (max-width: 79em) {
  .footer {
    -ms-grid-columns: 5rem 20vw (calc((100vw - (10rem + 20vw + (3rem * 6))) / 4))[4] 5rem;
        grid-template-columns: 5rem 20vw repeat(4, calc((100vw - (10rem + 20vw + (3rem * 6))) / 4)) 5rem;
  }
}

@media only screen and (max-width: 62.94em) {
  .footer {
    -ms-grid-columns: 2rem 20vw (calc((100vw - (4rem + 20vw + (3rem * 6))) / 4))[4] 2rem;
        grid-template-columns: 2rem 20vw repeat(4, calc((100vw - (4rem + 20vw + (3rem * 6))) / 4)) 2rem;
  }
}

.footer ul {
  list-style: none;
}

.footer__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__icon {
  cursor: pointer;
  font-size: 2.4rem;
  color: #fff;
}

.footer__icon:hover {
  color: #2acfcf;
}

button {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav__right--login {
  font-size: 1.8rem;
  color: #9e9aa7;
  background-color: transparent;
  padding: 0.5rem 2.5rem;
}

.nav__right--login:hover {
  color: #232127;
  cursor: pointer;
}

.nav__right--signup {
  font-size: 1.8rem;
}

.header__button {
  font-size: 2rem;
  padding: 1.5rem 4.5rem;
}

@media only screen and (max-width: 53.19em) {
  .header__button {
    font-size: 2.8rem;
  }
}

.link-shorten {
  margin: 0 13rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-block: 5rem;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-color: #3b3054;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media only screen and (max-width: 79em) {
  .link-shorten {
    margin: 0 5rem;
  }
}

.link-shorten__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link-shorten__field {
  width: 72%;
  padding: 1.8rem 3.5rem;
  border-radius: 1.2rem;
  border: none;
  outline: none;
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  color: #35323e;
  margin-right: 2.5rem;
}

@media only screen and (max-width: 79em) {
  .link-shorten__field {
    width: 65%;
  }
}

.link-shorten__field::-webkit-input-placeholder {
  color: #9e9aa7;
}

.link-shorten__field:-ms-input-placeholder {
  color: #9e9aa7;
}

.link-shorten__field::-ms-input-placeholder {
  color: #9e9aa7;
}

.link-shorten__field::placeholder {
  color: #9e9aa7;
}

.link-shorten__btn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-size: 2.1rem;
  border-radius: 1.2rem;
  padding-inline: 3.5rem;
}

.link-shorten__error {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5.2%;
  padding-block: 1rem;
  margin-bottom: -4.7rem;
  font-style: italic;
  font-size: 1.6rem;
  color: rgba(244, 98, 98, 0.7);
}

.loader {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader__img {
  width: 6rem;
}

.loader__text {
  color: #fff;
  font-weight: 700;
}

.errorField {
  border: 0.3rem solid #f46262;
  margin-block: -0.3rem;
  margin-left: -0.3rem;
}

.errorField::-webkit-input-placeholder {
  color: rgba(244, 98, 98, 0.5);
}

.errorField:-ms-input-placeholder {
  color: rgba(244, 98, 98, 0.5);
}

.errorField::-ms-input-placeholder {
  color: rgba(244, 98, 98, 0.5);
}

.errorField::placeholder {
  color: rgba(244, 98, 98, 0.5);
}

.result {
  background-color: #fff;
  margin-inline: 13rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 3rem;
  border-radius: 6px;
}

.result__input {
  color: #35323e;
  max-width: 70%;
}

.result__link {
  margin-left: auto;
  margin-right: 2.5rem;
  color: #2acfcf;
}

.result__btn {
  border-radius: 6px;
  font-size: 1.8rem;
  width: 11.5rem;
  padding-inline: 0;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10.5rem (min-content)[3] 10.5rem;
      grid-template-columns: 10.5rem repeat(3, -webkit-min-content) 10.5rem;
      grid-template-columns: 10.5rem repeat(3, min-content) 10.5rem;
  grid-column-gap: 3rem;
  width: 100%;
  margin-block: 8rem;
  position: relative;
}

.cards::before {
  content: "";
  width: 100%;
  height: 1rem;
  background-color: #2acfcf;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / 5;
  position: absolute;
  top: 42%;
}

@media only screen and (max-width: 45.81em) {
  .cards::before {
    top: 0;
    width: 1rem;
    height: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-transform: translateX(-2.4rem);
            transform: translateX(-2.4rem);
  }
}

@media only screen and (max-width: 62.94em) {
  .cards {
    -ms-grid-columns: 2rem (min-content)[3] 2rem;
        grid-template-columns: 2rem repeat(3, -webkit-min-content) 2rem;
        grid-template-columns: 2rem repeat(3, min-content) 2rem;
    margin-block: 5rem;
  }
}

@media only screen and (max-width: 45.81em) {
  .cards {
    -ms-grid-columns: 2rem calc(100vw - 10rem) 2rem;
        grid-template-columns: 2rem calc(100vw - 10rem) 2rem;
    grid-row-gap: 3rem;
  }
}

.card {
  background-color: #fff;
  width: calc((100vw - ((10.5rem * 2) + (3rem * 4))) / 3);
  padding: 4rem 3.2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-top: 0;
  text-align: left;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 62.94em) {
  .card {
    width: calc((100vw - ((2rem * 2) + (3rem * 4))) / 3);
  }
}

.card--1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.card--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  margin-top: 4rem;
}

.card--3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  margin-top: 8rem;
}

@media only screen and (max-width: 45.81em) {
  .card--1, .card--2, .card--3 {
    width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    text-align: center;
  }
}

.card__logo {
  background-color: #232127;
  background-size: contain;
  padding: 2rem;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 45.81em) {
  .card__logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.card__title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #232127;
  padding: 7rem 0;
  padding-bottom: 1rem;
}

.card__text {
  font-size: 1.6rem;
  color: #9e9aa7;
}
/*# sourceMappingURL=main.css.map */