.link-shorten {
  margin: 0 13rem;
  height: max-content;
  padding-block: 5rem;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-color: $color-violet;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1.2rem;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  @include respond(tablet-big) {
    margin: 0 5rem;
  }

  @include respond(tablet-sm) {
    padding-block: 3rem;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;

    @include respond(tablet-sm) {
      flex-direction: column;
      padding-inline: 3.5rem;
    }
  }

  &__field {
    width: 72%;
    padding: 1.8rem 3.5rem;
    border-radius: 0.6rem;
    border: none;
    outline: none;
    font-size: 2.1rem;
    font-family: $font-main;
    color: $color-dark-blue;
    margin-right: 2.5rem;

    @include respond(tablet-big) {
      width: 65%;
    }

    @include respond(tablet-sm) {
      width: 100%;
      padding: 1.5rem 1.8rem;
      margin-bottom: 2rem;
    }

    &::placeholder {
      color: $color-gray-violet;
    }
  }

  &__btn {
    align-self: stretch;
    font-size: 2.1rem;
    border-radius: 0.6rem;
    padding-inline: 3.5rem;

    @include respond(tablet-sm) {
      font-size: 2.5rem;
      padding-block: 1.3rem;
    }
  }

  &__error {
    align-self: flex-start;
    margin-left: 5.2%;
    padding-block: 1rem;
    margin-bottom: -4.7rem;
    font-style: italic;
    font-size: 1.6rem;
    color: rgba($color-red, 0.7);

    @include respond(tablet-sm) {
      align-self: center;
      margin-left: 0;
      margin-bottom: -2.5rem;
    }
  }
}

.loader {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__img {
    width: 6rem;
  }

  &__text {
    color: #fff;
    font-weight: 700;
  }
}

.errorField {
  border: 0.3rem solid $color-red;
  margin-block: -0.3rem;
  margin-left: -0.3rem;

  @include respond(tablet-sm) {
    margin-block: inherit;
    margin-bottom: 2rem;
    margin-left: 0;
  }

  &::placeholder {
    color: rgba($color-red, 0.5);
  }
}
