.btn-cyan {
  color: #fff;
  background-color: $color-cyan;
  padding: 1rem 3rem;
  border-radius: 5rem;
  cursor: pointer;

  &:hover {
    filter: saturate(50%) brightness(120%);
  }
}

.btn-violet {
  background-color: $color-violet;
}

.heading-2 {
  font-size: 4rem;
}

.heading-3 {
  font-weight: 500;
}

.link-heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.6rem;
}

.link-item {
  font-size: 1.6rem;
  font-weight: 300;
  color: $color-gray;
  cursor: pointer;
  margin-bottom: 0.6rem;

  &:hover {
    color: $color-cyan;
  }
}

.negative-margin {
  margin-top: -6rem;
}

.hidden {
  display: none;
}
