$color-cyan: #2acfcf;
$color-violet: hsl(257, 27%, 26%);
$color-red: hsl(0, 87%, 67%);

$color-gray: hsl(0, 0%, 75%);
$color-gray-violet: hsl(257, 7%, 63%);
$color-dark-violet: hsl(260, 8%, 14%);
$color-dark-blue: hsl(255, 11%, 22%);

$color-light-gray: hsl(230, 25%, 95%);

$font-main: "Poppins", sans-serif;
