.boost {
  background-color: $color-violet;
  background-image: url(../images/bg-boost-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5.4rem 1rem;
  margin-bottom: -1px; //remove section visible gap

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(phone-big) {
    padding-block: 12rem;
  }

  &__heading {
    color: #fff;
    margin-bottom: 1.8rem;
  }

  &__btn {
    font-size: 2rem;
    padding: 1.3rem 4.5rem;

    @include respond(phone-big) {
      font-size: 2.8rem;
    }
  }
}
