.header {
  display: grid;
  align-content: center;
  justify-items: start;

  grid-template-columns:
    13rem repeat(2, minmax(min-content, 47%))
    1fr;
  grid-template-rows: 23rem 12rem 1fr;

  padding-bottom: 16rem;

  @include respond(tablet-big) {
    grid-template-columns:
      6rem repeat(2, minmax(min-content, 42%))
      1fr;
  }

  @include respond(tablet-mid) {
    grid-template-columns:
      6rem minmax(min-content)
      6rem;

    justify-items: center;
    text-align: center;
    grid-row-gap: 1rem;
  }

  &__tagline,
  &__text,
  &__button {
    grid-column: 2 / span 1;

    @include respond(tablet-mid) {
      grid-column: 2 / span 2;
    }
  }

  &__tagline {
    font-size: 7.2rem;
    color: $color-dark-blue;
    font-weight: 700;
    line-height: 1.15;
    align-self: end;

    @include respond(tablet-big) {
      font-size: 6rem;
    }

    @include respond(tablet-mid) {
      font-size: 8rem;
      width: 78%;
      grid-row: 1 / span 1;

      justify-self: start;
      align-self: flex-start;
      text-align: initial;
    }

    @include respond(tablet-sm) {
      font-size: 5rem;
      width: 100%;
      grid-row: 4 / span 1;
      margin-top: 4rem;

      justify-self: center;
      align-self: center;
      text-align: center;
    }
  }

  &__text {
    font-size: 2.1rem;
    font-weight: 500;
    color: $color-gray-violet;
    max-width: 90%;

    @include respond(tablet-mid) {
      font-size: 2.8rem;
      max-width: 100%;
    }

    @include respond(tablet-sm) {
      font-size: 2.5rem;
    }
  }

  &__button {
    align-self: start;
    justify-self: start;

    @include respond(tablet-mid) {
      align-self: center;
      justify-self: center;
      margin-top: 3rem;
    }
  }

  &__illustration {
    grid-column: 3 / -1;
    grid-row: 1 / -1;

    @include respond(tablet-mid) {
    }
  }
}
