.nav {
  width: 100vw;
  height: fit-content;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 6rem 13rem;
  padding-bottom: 8rem;

  @include respond(tablet-big) {
    padding-inline: 6rem;
  }

  @include respond(tablet-mid) {
    justify-content: space-between;
  }

  @include respond(tablet-sm) {
    padding-bottom: 3rem;
  }

  &__logo {
    margin-right: 4rem;
    @include respond(tablet-mid) {
      width: 20rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: auto;
  }

  &__link {
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 3.5rem;

      @include respond(tablet-big) {
        margin-right: 1rem;
      }
    }

    a {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-gray-violet;
    }

    a:hover {
      color: $color-dark-violet;
    }
  }

  &__right {
    &--checkbox {
      display: none;
    }

    &--hamburger {
      display: none;

      @include respond(tablet-mid) {
        display: block;
        width: 4rem;
        height: 0.5rem;
        background-color: $color-gray-violet;
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 4rem;
          height: 0.5rem;
          background-color: $color-gray-violet;
        }

        &::before {
          transform: translateY(-1.4rem);
        }

        &::after {
          transform: translateY(1.4rem);
        }
      }
    }

    &--login {
    }

    &--signup {
    }
  }

  &__right--login,
  &__right--signup,
  &__links {
    @include respond(tablet-mid) {
      display: none;
    }
  }
}
